*
{
	margin: 0;
	padding: 0;
}

.alpha-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
}

.beta-wrapper {
	background-color: black;
	background-image: linear-gradient(to bottom, black, #cccccc);
	z-index: -100;
}

@keyframes fade-in {
	from { opacity: 0}
	to	{ opacity: 1}
}

#loading-screen {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.portrait {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -250px;
	z-index: 5;
}

.portrait img {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 8px solid white;
}

/* Lesson: when top: 50% is not working, create a dummy parent. */
.portrait-holder {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
}

.portrait-caption {
	width: 50%;
	min-width: 450px;
	margin: auto;
	height: 200px;
	position: absolute;
	transform: translate(-50%, -20%);
	border: 8px solid white;
	z-index: 3;
}

.portrait-caption p {
	padding-top: 100px;
	text-align: center;
	font-size: 50px;
	color: white;
}

.next {
	position: absolute;
	border-radius: 50%;
	color: white;
	font-size: 60px;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) rotate(90deg);
}

.next:hover {
	color: white;
}


@media screen and (max-width: 600px) {
	.portrait {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		margin-top: -180px;
	}

	.portrait img {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		border: 5px solid white;
	}

	.portrait-caption {
		width: 50%;
		min-width: 350px;
		margin: auto;
		height: 100px;
		position: absolute;
		transform: translate(-50%, -20%);
		border: 5px solid white;
		z-index: 3;
	}
	
	.portrait-caption p {
		padding-top: 50px;
		text-align: center;
		font-size: 20px;
		color: white;
	}
}

#school {
	position: relative;
	/*background-color: gray;
	background-image: linear-gradient(to bottom, gray, white);
	background-size: cover;*/
	color: #efefef !important;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 100vh;
	width: 100vw;
}

#school h1 {
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}

#school h1::after {
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.hidden {
	opacity: 0;
}

.fade-in-element {
	animation: fade-in 2s;
}

#work {
	height: 100%;
	padding-top: 20px;
	padding-bottom: 80px;
	color: #fff;
}

#work h1::after {
	content: '';
	background: #fff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 10px auto 5px;
}

.experience-wrapper {
	position: relative;
	margin: auto;
	height: 28%;
}

.logo img {
	height: 80%;
}

.experience {
	position: absolute;
	width: 100%!important;
	margin: auto!important;
	border-radius: 30px;
	height: 80%;
	z-index: 50;
}

.work-date {
	position: absolute;
	text-align: center;
	color: white;
}

/*************************************
Facebook Tile
**************************************/
.facebook-exp {
	background-color: #38569E;
}

.facebook-exp .logo {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.facebook-exp .work-position {
	position: absolute;
	font-size: 3vw;
	width: 100%;
	text-align: center;
	font-style: italic;
	top: 5px;
	color: white;
}

.facebook-exp .date-item,
.facebook-exp .date-item::before {
	background: lightblue;
}

.facebook-exp .active,
.facebook-exp .active::before,
.facebook-exp .year {
	background: dodgerblue;
}

.facebook-exp .start-date::before {
	background: lightblue;
}

/*************************************
Amazon Tile
**************************************/
.amazon-exp {
	background-color: #FF9A00;
}

.amazon-exp .logo {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.amazon-exp .work-position {
	position: absolute;
	font-size: 3vw;
	width: 100%;
	text-align: center;
	font-style: italic;
	top: 5px;
	color: white;
}

.amazon-exp .date-item,
.amazon-exp .date-item::before {
	background: #FFE0B3;
}

.amazon-exp .active,
.amazon-exp .active::before,
.amazon-exp .year {
	background: #FF6600;
}

.amazon-exp .start-date::before {
	background: #FFE0B3;
}

/*************************************
JPL Tile
**************************************/
.jpl-exp {
	background-color: #000000;
}

.jpl-exp .logo {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.jpl-exp .work-position {
	position: absolute;
	font-size: 3vw;
	width: 100%;
	text-align: center;
	font-style: italic;
	top: 5px;
	color: white;
}

.jpl-exp .date-item,
.jpl-exp .date-item::before {
	background: #A6A6A6;
}

.jpl-exp .active,
.jpl-exp .active::before,
.jpl-exp .year {
	background: #4D4D4D;
}

.jpl-exp .start-date::before {
	background: #A6A6A6;
}

.work h1 {
	text-align: center;
	padding-bottom: 40px;
}

.work-label {
	width: 80%;
	margin: auto;
}

.work-place {
	padding-top: 3px;
	text-align: center;
}

.work-location {
	width: 100%;
	margin: auto;
	text-align: center;
}

/*************************************
Work Timeline
**************************************/
.work-timeline {
	position: absolute;
	right: 0;
	top: 37%;
	width: 90%;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.date-item {
	width: 2.5vw;
	height: 2.5vw;
	text-align: center;
	line-height: 2.5vw;
	border-radius: 50%;
	margin: 0 0.325vw;
	display: inline-block;
	color: white;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.date-item p {
	font-size: 0.75vw;
}

.date-item:hover {
	transform: scale(1.1);
}

.date-item::before{
	content: '';
	position: absolute;
	top: 1.25vw;
	left: -1.25vw;
	width: 1.25vw;
	height: 3.2px;
	z-index: -1;
}


.date-item:first-child::before {
	display: none;
}

.active {
	z-index: 100;
}

.year {
	border-radius: 0%;
}

.year::after {
	display: none;
}

.start::before {
	display: none;
}

@media screen and (max-width: 600px) {
	.school-container {
		width: 80%;
		margin: auto;
	}

	.experience-wrapper {
		width: 95%;
	}
	
	.logo img {
		width: 10%;
		height: auto;
		left: 0;
	}
	
	.facebook-exp .logo img {
		transform: scale(1.3);
	}

	.amazon-exp .logo img {
		transform: scale(1.7);
	}

	.jpl-exp .logo img {
		transform: scale(1.7);
	}

	.work-position p {
		font-size: 2vh;
	}

	.work-place p {
		font-size: 4vh;
	}

	.work-date {
		display: none;
	}

	.work-place {
		position: absolute;
		font-size: 5vw;
		right: 5%;
		bottom: 10%;
		color: white;
		margin-bottom: -30px;
	}

	.date-item {
		width: 4vw;
		height: 4vw;
		line-height: 4vw;
		margin: 0 0.001vw;
	}
	
	.date-item p {
		font-size: 1.5vw;
	}

	.date-item::before{
		top: 2vw;
		left: -1.55vw;
		width: 2vw;
		height: 1px;
	}
}

@media screen and (min-width: 600px) {
	.school-container {
		width: 80%;
		margin: auto;
	}
	.experience-wrapper {
		width: 90%;
	}
	
	.logo img {
		width: 20%;
		height: auto;
	}

	.facebook-exp .logo img {
		width: 10%;
		margin-left: 20px;
		height: auto;
		transform: scale(1.5);
	}
	
	.work-position p {
		font-size: 3vh;
	}

	.work-place p {
		font-size: 5vh;
	}

	.work-date {
		display: none;
	}

	.work-place {
		position: absolute;
		font-size: 5vw;
		right: 5%;
		bottom: 7%;
		color: white;
		margin-bottom: -30px;
	}

	.date-item {
		width: 4vw;
		height: 4vw;
		line-height: 4vw;
		margin: 0 0.1vw;
	}
	
	.date-item p {
		font-size: 1.5vw;
	}

	.date-item::before{
		top: 2vw;
		left: -1vw;
		width: 1vw;
		height: 3px;
	}
}

@media screen and (min-width: 1200px) {
	.school-container {
		width: 70%;
		margin: auto;
	}
	.experience-wrapper {
		width: 75%;
	}
	
	.work-position p {
		font-size: 3vh;
	}

	.work-place p {
		font-size: 5vh;
	}

	.work-date {
		display: none;
	}

	.work-place {
		position: absolute;
		font-size: 5vw;
		right: 5%;
		bottom: 5%;
		color: white;
		margin-bottom: -30px;
	}

	.logo img {
		width: 20%;
	}

	.facebook-exp .logo img {
		transform: scale(1.5);
	}

	.date-item {
		width: 3vw;
		height: 3vw;
		line-height: 3vw;
		margin: 0 0.25vw;
	}
	
	.date-item p {
		font-size: 1vw;
	}

	.date-item::before{
		top: 1.5vw;
		left: -1vw;
		width: 1vw;
		height: 3px;
	}

}

@media screen and (min-width: 1500px) {

	.school-container {
		width: 100%;
		margin: auto;
	}

	.berkeley-experience {
		width: 60%;
		margin: auto;
		text-align: center;
		padding: 20px;
	}

	.berkeley-experience p {
		line-height: 1.5;
		display: inline-block;
	}

	.work-container {
		width: 100%;
		height: 100%;
		margin: auto;
	}

	.experience-wrapper {
		width: 70%;
	}

	.logo img {
		width: 20%;
		margin: auto;
		border-radius: 8px;
	}

	.facebook-exp .logo img {
		transform: scale(1.5);
	}

	.work-position p {
		font-size: 3vh;
	}

	.work-place p {
		font-size: 5vh;
	}

	.work-date {
		display: none;
	}
}

#hobbies {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(img/rainwindow.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

#hobbies h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}

#hobbies h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.hobbies
{
	margin-top: 40px;
}

.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}

#hobbies p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}

.hobbies .col-md-3:hover
{
	background: #696969;
	cursor: pointer;
	transition: 0.7s;
}

.wrapper {
	/*margin: 0 auto 100px auto;
	max-width: 960px;*/
}

.stage {
	list-style: none;
	padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.club-block {
	width: 20vw;
	height: 20vw;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.tutor {
	position: absolute;
	left: 10%;
}

.anova {
	position: absolute;
	left: 40%;
}

.csm {
	position: absolute;
	left: 70%;
}

.club {
	width: 20vw;
	height: 20vw;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-10em);
	-moz-transform: translateZ(-10em);
	transform: translateZ(-10vw);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.club:hover, .club:active {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-76deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.club .club-logo, 
.club .info {
	position: absolute;
	width: 20vw;
	height: 20vw;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.club .club-logo {
	-webkit-transform: translateZ(10vw);
	-moz-transform: translateZ(10vw);
	transform: translateZ(10vw);
	background-size: cover;
	background-repeat: no-repeat;
}

.club .info {
	-webkit-transform: rotateY(90deg) translateZ(10em);
	-moz-transform: rotateY(90deg) translateZ(10em);
	transform: rotateY(90deg) translateZ(10vw);
	font-size: 0.75em;
}

.side-block:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	border-width: 26px 26px 0 0;
	border-style: solid;
	display: block;
	width: 0;
}

.tutor .info {
	background-color: #b3deff!important;
	border: 5px solid #00477F;
}

.tutor .side-block:before {
	border-color: #00477F #80c8ff;
}

.anova .info {
	background-color: #248487!important;
	border: 5px solid #D0F9FF;
}

.anova .side-block:before {
	border-color: #D0F9FF #1b6265;
}

.csm .info {
	background-color: #008000!important;
	border: 5px solid #D8F6D8;
}

.csm .side-block:before {
	border-color: #D8F6D8 #004d00;
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 50px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 500;
	color: #FFF;
	line-height: 1.4em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.tutor .info p {
	color: #005799;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .club::after {
	content: '';
	width: 20vw;
	height: 20vw;
	position: absolute;
	bottom: 0;
	box-shadow: 0 100px 50px rgba(0,0,0,0.5);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(200px);
	-moz-transform: rotateX(90deg) translateY(200px);
	transform: rotateX(90deg) translateY(10vw);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .club:hover::after {
	box-shadow: 70px -5px 50px rgba(0,0,0,0.5);
}

/*************************************
Posters and still images
**************************************/

.club-block:nth-child(1) .club .club-logo {
  background-image: url(img/berkeng.jpg);
}

.club-block:nth-child(2) .club-logo {
  background-image: url(img/anova2.jpg);
}

.club-block:nth-child(3) .club-logo {
  background-image: url(img/csm.png);
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.club .club-logo,
.club .info,
.club .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .club .club-logo {
	box-shadow: inset 0px 0px 60px rgba(255,255,255,0);
}

.csstransforms3d .club:hover .club-logo {
	box-shadow: inset 10px 0px 60px rgba(255,255,255,0.8);
}

.csstransforms3d .club .info, 
.csstransforms3d .club .info header {
	box-shadow: inset -10px 0px 60px rgba(0,0,0,0.5);
}

.csstransforms3d .club:hover .info, 
.csstransforms3d .club:hover .info header {
	box-shadow: inset 0px 0px 60px rgba(0,0,0,0);
}
/*************************************
Fallback
**************************************/
.no-csstransforms3d .club .club-logo, 
.no-csstransforms3d .club .info {
	position: relative;
}

/*************************************
Media Queries
**************************************
